@model Customer;
<div class="container mt-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ID</td>
                <td>@Model.Name</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
</div>